<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="form-control">
    <label>Name:</label>
    <input formControlName="name">
    <ng-container *ngIf="form.controls.name as name">
      <span class="error" *ngIf="(name.dirty || name.touched) && name.hasError('required')">This field is
        required.</span>
      <div class="error" *ngIf="(name.touched || name.dirty) && name.hasError('minlength')">
        the input should be at least <strong>{{name.getError('minlength').requiredLength}}</strong> character.
      </div>
      <div class="error" *ngIf="(name.dirty || name.touched) && name.hasError('maxlength')">
        the input should not be more than <strong>{{name.getError('maxlength').requiredLength}}</strong> character.
      </div>
      <div class="error" *ngIf="(name.dirty || name.touched) && name.hasError('bannedWords')">
        the <strong>{{name.getError('bannedWords').bannedWord}}</strong> is banned, please use other name.
      </div>
      <div class="error" *ngIf="(name.dirty || name.touched) && name.hasError('uniqueName')">
        this username is already taken.
      </div>
      <div class="info" *ngIf="name.pending">
        checking username ....
      </div>
    </ng-container>
  </div>

  <div class="form-control">
    <label>Password:</label>
    <input formControlName="password" type="password">
    <div class="error"
      *ngIf="(passwordControl.touched || passwordControl.dirty) && passwordControl.hasError('upperCasePatternError')">
      please insert at least one uppercase character.
    </div>
    <div class="error"
      *ngIf="(passwordControl.touched || passwordControl.dirty) && passwordControl.hasError('lowerCasePatternError')">
      please insert at least one lowercase letter.
    </div>
    <div class="error"
      *ngIf="(passwordControl.touched || passwordControl.dirty) && passwordControl.hasError('symbolPatternError')">
      please insert at least one symbol like: !#$%^&*()&#64;.
    </div>
    <div class="error"
      *ngIf="(passwordControl.touched || passwordControl.dirty) && passwordControl.hasError('minimumLength')">
      Password should have minimum {{passwordControl.getError('minimumLength')?.minLength}} length.
    </div>
    {{passwordControl.getError('minimumLength')?.minLength}}
    <div class="error"
      *ngIf="(passwordControl.touched || passwordControl.dirty) && passwordControl.hasError('maximumLength')">
      Password should'nt be more than 30 character.
    </div>
  </div>

  <div class="form-control">
    <label>Confirm password:</label>
    <input formControlName="confirmPassword" type="password">
    <div *ngIf="(confirmPasswordControl.touched || confirmPasswordControl.dirty)
       && confirmPasswordControl.hasError('passwordIsNotMatch')" class="error">
      password and confirm password is not matched!
    </div>
  </div>
  <button class="btn-success" [disabled]="form.invalid" type="submit">Save</button>
</form>
