@mixin btn {
  padding: .75rem;
  border: none;
  width: 100%;
  border-radius: 4px;
  color: var(--gray-100);
  margin-top: 1rem;
  cursor: pointer;
  font-family: "Playwrite GB S";
}

@mixin input-text {
  font-size: 12px;
  box-sizing: border-box;
  animation-name: input-message-animation;
  animation-duration: 300ms;
}

@mixin container {
  max-width: 300px;
  background: var(--light-green);
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
  margin: 2rem auto;
}
