@import '@angular/cdk/overlay-prebuilt.css';
@import './mixin.scss';


:root {
  --primary: #4A628A;
  --secondary: #7AB2D3;
  --accent: #B9E5E8;
  --light: #DFF2EB;
  --info: #0171DE;
  --green: #2E97A7;
  --light-green: #BED1CF;
  --error: #C62E2E;
  --white: #FFF;
  --gray-700: #373A40;
  --gray-400: #686D76;
  --gray-100: #eee;
  --height-header: 64px;
  --height-footer: 48px;
  --border-radius: 10px;
  --spacing-step: 8px;
  --font-size-h1: 34px;
}

@font-face {
  font-family: 'Playwrite GB S';
  src: url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+US+Modern:wght@100..400&display=swap"');
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--gray-700);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Playwrite GB S";
}

a {
  text-decoration: none;
  color: var(--light);
  transition: all .2s;


  &:hover {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 8px;
    transition: color .2s;
  }
}

label {
  padding: .5rem;
  color: var(--gray-700);
  display: block;
}

input {
  padding: .5rem;
  border: solid 1px var(--gray-100);
  border-radius: 4px;
  width: 280px;

  &:focus-visible {
    border: 1px solid var(--info);
  }
}

@keyframes input-error-animation {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input.ng-invalid.ng-touched {
  @include input-text();
  border: 1px solid var(--error);
}

input.ng-valid.ng-touched {
  @include input-text();
  border: 1px solid var(--green);
}

.info {
  padding: .325rem;
  font-size: 11px;
  color: var(--info);
  animation: input-error-animation 300ms ease-in;

}

.error {
  padding: .325rem;
  font-size: 11px;
  color: var(--error);
  animation: input-error-animation 300ms ease-in;
}

.btn-success {
  background-color: var(--green);
  @include btn();

  &:disabled {
    background-color: var(--gray-400);
    cursor: not-allowed;
  }

}

ul {
  list-style: none;
}

.review-textarea {
  padding: 8px;
  border-radius: 8px;
  background-color: white;
  min-height: 74px;
  box-sizing: border-box;
  color: var(--gray-400);
  background-color: var(--gray-100);


  h3 {
    margin-bottom: .5rem;
    font-weight: bold;

    &:empty:before {
      content: attr(data-placeholder);
      opacity: 0.6;
    }
  }

  p,
  div {
    &:empty:before {
      content: attr(data-placeholder);
      opacity: 0.6;
    }
  }
}

.form-title {
  display: block;
  text-align: center;
  padding: 1rem;
}
