  :root {
    --info: oklch(51.01% 0.274 263.83);
    --green: green;
    --error: #fe8080;
    --white: #FFF;

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);
    --gray-100: #eee;
  }

  html {
    width: 100vw;
    height: 100vh;
    background: var(--white);
  }

  label {
    padding: .5rem;
    color: var(--gray-700);
    display: block;
  }

  input {
    padding: .5rem;
    border: solid 1px var(--gray-100);
    border-radius: 4px;
    width: 280px;

    &:focus-visible {
      border: 1px solid var(--info);
    }
  }

  @keyframes input-error-animation {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @mixin input-text {
    font-size: 12px;
    box-sizing: border-box;
    animation-name: input-message-animation;
    animation-duration: 300ms;
  }

  input.ng-invalid.ng-touched {
    @include input-text();
    border: 1px solid var(--error);
  }

  input.ng-valid.ng-touched {
    @include input-text();
    border: 1px solid var(--green);
  }

  .info {
    padding: .325rem;
    font-size: 11px;
    color: var(--info);
    animation: input-error-animation 300ms ease-in;

  }

  .error {
    padding: .325rem;
    font-size: 11px;
    color: var(--error);
    animation: input-error-animation 300ms ease-in;
  }

  button {
    background-color: var(--green);
    padding: .75rem;
    border: none;
    width: 100%;
    border-radius: 4px;
    color: white;

    &:disabled {
      background-color: var(--gray-400);
      cursor: not-allowed;
    }
  }
